<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
     <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <h1>Ticket System</h1>
        <section>
            <span>velkommen</span>
            <form action="/sign/logout" method="post">
                <button type="submit">Logg ut</button>
            </form>
        </section>
    </header>
    <aside id="homeNav">

    </aside>
    <main id="homeMain">

    </main>
    <footer>

    </footer>
</body>
<script src="/js/home.js"></script>
</html>