<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Ticket System</h1>
        <form action="/sign">
            <button type="submit">Sign in</button>
        </form>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>