<section>
    <h2>new ticket</h2>
    <form action="">
        <label>Title</label>
        <input type="text">
        <label>Description</label>
        <textarea></textarea>
        <button>Submit</button>
    </form>
</section>
<script src="js/partial/newTicket.js"></script>
