<section>
    <h2>new ticket</h2>
    <form id="newTicketForm">
        <label for="ticketType">Ticket Type</label>
        <select id="ticketType" name="type">
            <option value="null" selected>none</option>
        </select>
        <label for="ticketSubject">subject</label>
        <input id="ticketSubject" name="subject" type="text">
        <label for="ticketDescription">Description</label>
        <textarea id="ticketDescription" name="description"></textarea>
        <button onclick="submitTicket()">Submit</button>
    </form>
    <script src="js/partial/newTicket.js"></script>
</section>